.form_container{
    background-color: #FFF;
    border-radius: 16px;
    padding: 0px 2rem 2rem 2rem;
    box-shadow: 0px 16px 20px rgba(0,0,0,0.08);
    margin-bottom:  3rem;
}


.header{
    border-bottom: 1px solid #c8c8c8;
}

.header h1{
    margin-bottom: 0rem;
}

/* .form_container input[type="submit"]{
    border-radius: 5px;
    border: none;
    min-width: 100px;
    min-height: 2.5rem;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
} */


.form_container p{
    margin-top: 1rem;
}

.form_container p a{
    color: #198754;;
    font-weight: bold;
}

.form_container p a:hover{
    color:  #157347;
}

.preview_pet_images{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.preview_pet_images img{
    width: 100px;
    height: 100px;
    margin-left: 1rem;
}