.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    background-color: #FFF;
    color: #090909;
    border-bottom: 2px solid #cccccc;
}

.navbar h2{
    font-weight: 550;
}

.navbar_logo{
    display: flex;
    align-items: center;
}

.navbar_logo img{
    width: 40px;
    margin-right: .8rem;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
}

.navbar li, .navbar a{
    text-decoration: none;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: .1s all;
    padding: .5rem .8rem;
    margin-left: .5rem;
}

.navbar li:hover{
    border-bottom: 2px solid #16479d;
}