.petHome_header{
    margin-bottom: 2rem;
}

.petHome_header h1{
    margin-bottom: .3rem;
}

.pet_container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 24px;
}

.pet_card{
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 16px 20px rgba(0,0,0,0.08);
    width: 22%;
    display: flex;
    flex-direction: column;
}

.pet_card_body{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.pet_card_desc{
    color: #6d6d6d;
    margin-bottom: 24px;
}

.pet_card_bottom{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: end;
}

.pet_card_image{
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 100%;
    margin-bottom: .5rem;
}

.pet_card h3{
    font-weight: 550;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.pet_card p{
    font-size: 0.875rem;
    margin-bottom: 0rem;
}

.adopted_text{
    background-color: #c0ffcf;;
    color: #0f7043;
    font-weight: bold;
    padding: 8px 20px;
    display: flex;
    align-self: center;
    border-radius: 50px;
}
